# ------------------------------------------------------------------------------
# Testdaten ausschließen (Niemals die 5 GB Log-Datei committen!)
# ------------------------------------------------------------------------------
*.log
*.csv
!benchmarks/results/*.csv  # Ausnahmen: Messergebnisse/Statistiken dürfen rein!
data/

# ------------------------------------------------------------------------------
# Go
# ------------------------------------------------------------------------------
/src/go-parser/go-parser   # Das kompilierte Go-Executable
/src/go-parser/bachelorarbeit
/src/go-parser/go-parser-artefact
*.exe

# ------------------------------------------------------------------------------
# Zig
# ------------------------------------------------------------------------------
/src/zig-parser/zig-cache/
/src/zig-parser/.zig-cache/
/src/zig-parser/zig-out/
/src/zig-parser/build/
/src/zig-parser/main
/src/zig-parser/src/root.zig
/src/zig-parser/zig-parser-artefact.o
/src/zig-parser/zig-parser-artefact
/src/zig-parser/zig-parser-artefact.exe.obj
/src/zig-parser/zig-parser-artefact.obj
/src/zig-parser/zig-parser-artefact.pdb

# ------------------------------------------------------------------------------
# Python (Generator)
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
.venv/
venv/

# ------------------------------------------------------------------------------
# Betriebssystem & IDEs
# ------------------------------------------------------------------------------
.DS_Store
.idea/
.vscode/
old/
*.prof
commands
,
results.md
benchmark/results/master_summary.md
benchmark/results/current_summary.md
benchmark/results/current_results.json
benchmark/results/results_new-stage1-windows.json
benchmark/results/results_new-stage2-windows.json
benchmark/results/results_new-stage3-windows.json
benchmark/results/master_summary-windows.md