# ------------------------------------------------------------------------------
# Testdaten ausschließen (Niemals die 5 GB Log-Datei committen!)
# ------------------------------------------------------------------------------
*.log
*.csv
!benchmarks/results/*.csv  # Ausnahmen: Messergebnisse/Statistiken dürfen rein!
data/

# ------------------------------------------------------------------------------
# Go
# ------------------------------------------------------------------------------
/src/go-parser/go-parser   # Das kompilierte Go-Executable
/src/go-parser/bachelorarbeit
/src/go-parser/go-parser-artefact
*.exe
benchmark/results

# ------------------------------------------------------------------------------
# Zig
# ------------------------------------------------------------------------------
/src/zig-parser/zig-cache/
/src/zig-parser/.zig-cache/
/src/zig-parser/zig-out/
/src/zig-parser/build/
/src/zig-parser/main
/src/zig-parser/src/root.zig
/src/zig-parser/zig-parser-artefact.o
/src/zig-parser/zig-parser-artefact


# ------------------------------------------------------------------------------
# Python (Generator)
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
.venv/
venv/

# ------------------------------------------------------------------------------
# Betriebssystem & IDEs
# ------------------------------------------------------------------------------
.DS_Store
.idea/
.vscode/
old/
*.prof
commands
,
results.md
benchmark/results/master_summary.md
benchmark/results/perf_Go_new-stage1.txt
benchmark/results/perf_Go_new-stage2.txt
benchmark/results/perf_Go_new-stage3.txt
benchmark/results/perf_Zig_new-stage1.txt
benchmark/results/perf_Zig_new-stage2.txt
benchmark/results/perf_Zig_new-stage3.txt
benchmark/results/pidstat_Go_new-stage1.txt
benchmark/results/pidstat_Go_new-stage2.txt
benchmark/results/pidstat_Go_new-stage3.txt
benchmark/results/pidstat_Zig_new-stage1.txt
benchmark/results/pidstat_Zig_new-stage2.txt
benchmark/results/pidstat_Zig_new-stage3.txt
benchmark/results/summary_sys.md
benchmark/results/summary_time.md
benchmark/results/time_Go_new-stage1.txt
benchmark/results/time_Go_new-stage2.txt
benchmark/results/time_Go_new-stage3.txt
benchmark/results/time_Zig_new-stage1.txt
benchmark/results/time_Zig_new-stage2.txt
benchmark/results/time_Zig_new-stage3.txt